In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [2]:
dataset = pd.read_csv('./dataset/Social_Network_Ads.csv')
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
5    15728773    Male   27            58000          0
6    15598044  Female   27            84000          0
7    15694829  Female   32           150000          1
8    15600575    Male   25            33000          0
9    15727311  Female   35            65000          0
10   15570769  Female   26            80000          0
11   15606274  Female   26            52000          0
12   15746139    Male   20            86000          0
13   15704987    Male   32            18000          0
14   15628972    Male   18            82000          0
15   15697686    Male   29            80000          0
16   15733883    Male   47            25000          1
17   15617482    Male   45            26000          1
18   15704583    Male   46            28000          1
19   15621083  Female   48            29000          1
20   15649487    Male   45            22000          1
21   15736760  Female   47            49000          1
22   15714658    Male   48            41000          1
23   15599081  Female   45            22000          1
24   15705113    Male   46            23000          1
25   15631159    Male   47            20000          1
26   15792818    Male   49            28000          1
27   15633531  Female   47            30000          1
28   15744529    Male   29            43000          0
29   15669656    Male   31            18000          0
..        ...     ...  ...              ...        ...
370  15611430  Female   60            46000          1
371  15774744    Male   60            83000          1
372  15629885  Female   39            73000          0
373  15708791    Male   59           130000          1
374  15793890  Female   37            80000          0
375  15646091  Female   46            32000          1
376  15596984  Female   46            74000          0
377  15800215  Female   42            53000          0
378  15577806    Male   41            87000          1
379  15749381  Female   58            23000          1
380  15683758    Male   42            64000          0
381  15670615    Male   48            33000          1
382  15715622  Female   44           139000          1
383  15707634    Male   49            28000          1
384  15806901  Female   57            33000          1
385  15775335    Male   56            60000          1
386  15724150  Female   49            39000          1
387  15627220    Male   39            71000          0
388  15672330    Male   47            34000          1
389  15668521  Female   48            35000          1
390  15807837    Male   48            33000          1
391  15592570    Male   47            23000          1
392  15748589  Female   45            45000          1
393  15635893    Male   60            42000          1
394  15757632  Female   39            59000          0
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
X_numerical = dataset.iloc[:, 2:4]
X_categoral = dataset.iloc[:, 1]
y = dataset.iloc[:, 4].values

# 將性別做分類

In [4]:
label_mapping = {'Male':1,'Female':0}
X_categoral_label = X_categoral.map(label_mapping)
X_categoral_label

0      1
1      1
2      0
3      0
4      1
5      1
6      0
7      0
8      1
9      0
10     0
11     0
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     0
20     1
21     0
22     1
23     0
24     1
25     1
26     1
27     0
28     1
29     1
      ..
370    0
371    1
372    0
373    1
374    0
375    0
376    0
377    0
378    1
379    0
380    1
381    1
382    0
383    1
384    0
385    1
386    0
387    1
388    1
389    0
390    1
391    1
392    0
393    1
394    0
395    0
396    1
397    0
398    1
399    0
Name: Gender, Length: 400, dtype: int64

# 將性別合併和數執行資料合併

In [9]:
X = pd.concat([X_numerical, X_categoral_label], axis=1)
X = X.values

array([[   19, 19000,     1],
       [   35, 20000,     1],
       [   26, 43000,     0],
       ...,
       [   50, 20000,     0],
       [   36, 33000,     1],
       [   49, 36000,     0]])

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

# 將資料做標準化

In [16]:
sc = StandardScaler()
X_train = sc.fit_transform(pd.DataFrame(X_train[:, :2]))
X_test = sc.fit_transform(pd.DataFrame(X_test[:, :2]))

/home/letitgo/.local/lib/python3.5/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/letitgo/.local/lib/python3.5/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

# 訓練模型，50棵數，若feature小於等於2就不在切割，或者葉子中的資料為1

In [53]:
classifier = RandomForestClassifier(n_estimators = 9, criterion = 'entropy', min_samples_split = 2, min_samples_leaf = 1, random_state = 25)
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=9, n_jobs=None,
            oob_score=False, random_state=25, verbose=0, warm_start=False)

In [54]:
y_pred = classifier.predict(X_test)

In [55]:
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.93      0.95        68
           1       0.86      0.94      0.90        32

   micro avg       0.93      0.93      0.93       100
   macro avg       0.91      0.93      0.92       100
weighted avg       0.93      0.93      0.93       100

[[63  5]
 [ 2 30]]